body {
  background: #DDD;
}

#body_content {
  float: left;
  width: 45%;
  background: white;
  color: #333;
  padding: 20px;
}

#side_body {
  float: left;
  width: 45%;
  background: yellow;
  color: #333;
  padding: 20px;
}